.gradle
build/
!build/libs/OnlineStore-1.0-SNAPSHOT.war
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

*.jar
*.war
*.ear
*.bin
*.bat
*.lock

.gradle
gradle
gradlew

.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
